.my-button {
  background-color: #eab5b5;
  color: rgb(0, 0, 0);
  border-color: rgb(18, 18, 17);
  box-shadow: 0 2px 5px black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.my-button:hover {
  background-color: #acd0f9;
}

.my-button:active {
  background-color: #bceaa4;
  border-color: #000000;
}

.search-form {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.search-form input {
  width: 400px;
  max-width: 500px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px black;
}

.search-form button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: #eab5b5;
  color: rgb(0, 0, 0);
  border-radius: 0 4px 4px 0;
  box-shadow: 0 2px 5px black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.search-form button:hover {
  background-color: #acd0f9;
}

.search-form button:active {
  background-color: #bceaa4;
  border-color: #000000;
}

.add-to-cart {
  background-color: #eab5b5;
  color: #000000;
  border: 1px solid #121211;
  border-radius: 8px;
  padding: 10px 15px;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 5px black;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-to-cart:hover {
  background-color: #acd0f9;
}

.add-to-cart:active {
  background-color: #bceaa4;
  border-color: #000000;
}
